[pylint]
# for the unittests disable some pylint warnings, e.g. we don't want to force devs to write docstrings for every test
disable =
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    redefined-outer-name,  # this is for the use of pytest fixtures
    duplicate-code,  # we prefer our tests to be explicit rather than perfectly redundancy free
[pylint."MESSAGES CONTROL"]
max-line-length = 120