[submodule "unittests/abapgit_repos/Z_PUBLIC_ABAPGIT_TEST_REPOSITORY"]
	path = unittests/webgui/abapgit_repos/Z_PUBLIC_ABAPGIT_TEST_REPOSITORY
	url = https://github.com/Hochfrequenz/Z_PUBLIC_ABAPGIT_TEST_REPOSITORY
[submodule "unittests/abapgit_repos/Z_PRIVATE_ABAPGIT_TEST_REPOSITORY"]
	path = unittests/webgui/abapgit_repos/Z_PRIVATE_ABAPGIT_TEST_REPOSITORY
	url = https://github.com/Hochfrequenz/Z_PRIVATE_ABAPGIT_TEST_REPOSITORY/
