HAC_URL=https://backoffice.your-instance.commerce.ondemand.com
HAC_USERNAME=admin
HAC_PASSWORD=your_secure_password
HAC_IGNORE_SSL=false
HAC_TIMEOUT=30000
# HAC_DEBUG=true   # Uncomment for verbose auth/request logging
